body {
    background-image: url(../document/background.png);
}

body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}
ol#result-col li.placeholder {
    position: relative;
}
ol#result-col li.placeholder:before {
    position: absolute;
}

.receipts-container-border {
    margin-top: 10px;
    margin-bottom: 10px;
}

.receipts-op-panel {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items:center;
}

.receipts-op-panel-word {
    font-weight: bold;
    font-size: 17px;
}

.query-show {
    display: inline;
}

.query-hide {
    display: none;
}

.result-show {
    display: inline;
}

.result-hide {
    display: none;
}

.mdui-textfield-input {
    color: #0999bc !important;
}

.mdui-textfield-focus {
    color: #0999bc !important;
}

.mdui-color-myself {
    color: #fff !important;
    background-color: #0999bc !important;
}

.info-panel {
    cursor: default;
    text-transform: capitalize
}

.dialog-title-color {
    color:#0999bc
}

.login-container {
    margin-top: 250px;
    background-color: white;
    width: 450px;
    height:400px;
    padding-top: 40px;
    border-radius: 20px;
}

.login-container-inner {
    margin:0 auto !important;
    width:400px !important;
}

.login-label-input {
    width:400px;
    margin-top:30px;
}

.login-logo-center {
    text-align: center;
}

.login-logo {
    margin: 0 auto;
    width:302px;
}

.query-hide-input {
    display: none;
}

.query-main-container {
    width: 2000px;
}

.temp-main-container {
    width: 2000px;
}

.temp-btn {
    margin: 0 auto;
}

.system-main-container {
    width: 2000px;
}

.system-td-center {
    text-align: center !important;
}

.system-td-center button {
    width: 30px !important;
}

.system-td-op {
    padding-left: 0 !important;
    width: 250px !important;
}

.result-dialog-content {
    color: #0999bc;
    font-weight:bold;
    margin-bottom:5px;
}

.result-checkbox-label {
    width:160px;
}

.my-success {
    color:forestgreen !important;
    font-weight: bold !important;
}

.my-failed {
    color:#AD1457 !important;
    font-weight: bold !important;
}

.setting-col-li-title:hover {
    cursor: move;
}

.setting-col-li-field {
    display:none;
}

.setting-col-li-width {
    display:none;
}

.setting-col-li-title {
    width:270px;
    display:inline-block;
    font-weight: bold;
}

.setting-col-ul-div {
    width:100%;
    margin:0 auto;
}

.setting-col-li-hidden-outer {
    width:270px;
    display:inline-block;
    font-weight: bold;
}

.setting-col-li-align-outer {
    display:inline-block;
    font-weight: bold;
}

.filter-title {
    font-size: 16px;
}

.filter-input {
    width: 240px;
    padding-left:5px;
    height:28px;
    line-height: 28px;
}

.filter-input-small {
    width: 110px;
    padding-left:5px;
    height:28px;
    line-height: 28px;
}

.filter-select {
    width: 240px;
    height:28px;
}
